@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../../public/fonts/Satoshi-Variable.woff2");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --background: #ffffff;
    --foreground: #171717;
    --primary-black: #232323;
    --primary-white: #f8fafc;
    --primary-green: #0db760;
    --font-satoshi: "Satoshi", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-black);
}

/* --------- Custom Utilities ----------- */
.container {
  @apply mx-auto w-[85%] sm:w-[80%] lg:w-[75%];
}

.flex-center-start {
  @apply flex items-center justify-start;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-center-between {
  @apply flex items-center justify-between;
}

.flex-start-between {
  @apply flex items-start justify-between;
}

.flex-stretch-between {
  @apply flex items-stretch justify-between;
}

.flex-center-start {
  @apply flex items-center justify-start;
}

.flex-start-start {
  @apply flex items-start justify-start;
}

.border-red {
  @apply border-2 border-red-500;
}

.scroll-hide::-webkit-scrollbar {
  scrollbar-width: none;
}

/* Primary button styles */
.primary-button {
  @apply relative z-10 h-12 overflow-hidden rounded-xl border-none bg-primary-green px-8 font-medium text-primary-white outline-none;
}

.primary-button::after {
  content: "";
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.3);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.8em;
  transform: translate3d(-600%, 0, 0) rotate(35deg);
}

.primary-button:hover::after {
  transition: transform 0.7s ease-in-out;
  transform: translate3d(600%, 0, 0) rotate(35deg);
}

/* Chip over title style */
.chip {
  @apply max-w-max rounded-[50%] border border-[#0DB760] px-3 py-1 text-lg font-medium text-primary-green;
}

/* sweetalert custom styles */
.swal2-container * {
  font-family: var(--font-satoshi) !important;
}

.swal2-container {
  z-index: 99999 !important;
}

.swal2-title {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

/* Ping animation for notification */
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* .ping {
  position: relative;
} */

.ping::before,
.ping::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #dc2626;
  z-index: -100;
}

.ping::before {
  animation: ping 1.7s ease 5;
  opacity: 0.25;
}
